/docker/db/data/
/src/PF.Base/file/attachment/*
/src/PF.Base/file/cache/*
/src/PF.Base/file/css/*
/src/PF.Base/file/gzip/*
/src/PF.Base/file/log/*
/src/PF.Base/file/pic/ad/*
/src/PF.Base/file/pic/icon/*
/src/PF.Base/file/pic/photo/*
/src/PF.Base/file/pic/subscribe/*
/src/PF.Base/file/pic/user/**
/src/PF.Base/file/pic/watermark/*
/src/PF.Base/file/session/*
/src/PF.Base/file/static/*
!/src/PF.Base/file/index.html
!/src/PF.Base/file/settings/
/src/PF.Base/file/settings/server.sett.php
!.gitkeep
/.idea/workspace.xml
/.idea/tasks.xml
/src/PF.Site/flavors/material/flavor/*.css
/src/PF.Base/vendor/
/src/PF.Site/Apps/instapaint/assets/instashow/api/storage/
logo_default.png
debug.sett.php
drip-node
