<div class="error_message">
	{{ _p('This feature will be removed in phpFox v4.7') }}
</div>
{% if themes %}
	<form method="post" action="{{ url('/admincp/theme/merge') }}" class="ajax_post form">
		<div class="message">
			{{ _p('Select a theme to merge.') }}
		</div>
		<select name="theme" class="form-control">
		{% for theme in themes %}
			<optgroup label="{{ theme.name }}">
				{% for flavor in theme.flavors %}
				<option value="{{ theme.name }}/{{ flavor }}">{{ flavor }}</option>
				{% endfor %}
			</optgroup>
		{% endfor %}
		</select>
		<div class="form-group">
			<input type="submit" class="btn btn-primary button" value="Submit">
		</div>
	</form>
{% else %}
<div class="message">
	{{ _p('Nothing to merge.') }}
</div>
{% endif %}