<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../flavor/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../flavor/developing.css">
    <link rel="stylesheet" type="text/css" href="../../../../PF.Base/theme/frontend/default/style/default/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="component.css">
</head>
<body>
    <header class="header">
        <h1>MATERIAL TEMPLATE</h1>
        <p>
            All components
            <span>(v1.0)</span>
        </p>
    </header>

    <section class="component-container">
        <!--Color Schemes  -->
        <div class="container component-section">
            <h1 class="headline">Color Schemes</h1>
            <div class="col-md-8 col-md-offset-1">
                <img src="images/color-schemes.png" alt="" width="750px">
            </div>
        </div>
        <!-- Button  -->
        <div class="container component-section">
            <h1 class="headline">
                Buttons
                <br/>
                <small>Pick your style</small>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <button class="btn btn-primary">Default</button>
                    <button class="btn btn-primary btn-round">Round</button>
                    <button class="btn btn-primary btn-round btn-gradient">Hover Gradient</button>
                    <button class="btn btn-primary btn-round btn-gradient btn-icon"><span class="ico ico-briefcase-o"></span>With icon</button>
                    <button class="btn btn-primary btn-round btn-gradient disabled"></span>Disabled</button>
                </div>
            </div>
            <br/>
            <h1 class="headline">
                <small>Pick your size</small>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <button class="btn btn-primary btn-xs">Extra Small Size</button>
                    <button class="btn btn-primary btn-sm">Small Size</button>
                    <button class="btn btn-primary">Regular Size</button>
                    <button class="btn btn-primary btn-lg">Large Size</button>
                </div>
            </div>
            <br/>
            <h1 class="headline">
                <small>Pick your color</small>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <button class="btn btn-default btn-round">Brand Default</button>
                    <button class="btn btn-primary btn-round">Brand Primary</button>
                    <button class="btn btn-info btn-round">Brand Info</button>
                    <button class="btn btn-success btn-round">Brand Success</button>
                    <button class="btn btn-warning btn-round">Brand Warning</button>
                    <button class="btn btn-danger btn-round">Brand Danger</button>
                </div>
            </div>
        </div>
        <!-- Input  -->
        <div class="container component-section">
            <h1 class="headline">
                Form    Input
                <br/>
                <small>Pick your size</small>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control input-sm" placeholder="Small Size">
                        </div>

                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Regular Size">
                        </div>

                        <div class="col-md-4">
                            <input type="text" class="form-control input-lg" placeholder="Large Size">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <h1 class="headline">
                
                <br/>
                <small>Pick your style</small>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="ico ico-user1-o"></span></div>
                                <input type="text" class="form-control" placeholder="With label icon">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="With action icon">
                                <div class="input-group-addon">
                                    <a href="">
                                        <span class="ico ico-search-o"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon right">USD</div>
                                <input type="text" class="form-control" placeholder="With right lablel">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control">
                                <option>Selector</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group input-group-dropdown">
                                <input type="text" class="form-control" placeholder="With dropdown action">
                                <div class="input-group-btn dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action 
                                        <span class="ico ico-caret-down ml-1"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <textarea class="form-control" placeholder="Textarea..."></textarea>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control disabled" disabled placeholder="Disabled">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkbox and Raido -->
        <div class="container component-section">
            <h1 class="headline">
                Checkbox - Radio button
                <br/>
                <small>Pick your style</small>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Checkbox block</h4>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Option one is this and that&mdash;be sure to include why it's great
                                </label>
                            </div>
                            <div class="checkbox disabled">
                                <label>
                                    <input type="checkbox" value="" disabled>
                                    Option two is disabled
                                </label>
                            </div>

                            <br>

                            <h4>Radio button block</h4>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Option one is this and that&mdash;be sure to include why it's great
                                </label>
                            </div>
                                <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Option two can be something else and selecting it will deselect option one
                                </label>
                            </div>
                            <div class="radio disabled">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                    Option three is disabled
                                </label>
                            </div>
                            
                            <br>
                            
                            <h4>Checkbox inline</h4>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Categories 1
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> Categories 2
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> Categories 3
                            </label>
                            
                            <br>
                            <br>

                            <h4>Radio butotn inline</h4>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Other
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <!-- Dropdown Actions -->
        <div class="container component-section">
            <h1 class="headline">
                Dropdown
                <br/>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Dropdown
                                    <span class="ico ico-caret-down ml-1"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="item-delete"><a href="#">Item Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Dropdown with icon
                                    <span class="ico ico-caret-down ml-1"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Separated link</a></li>
                                    <li class="item-delete"><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Item Delete</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Dropdown with scroll
                                    <span class="ico ico-caret-down ml-1"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-limit" aria-labelledby="dropdownMenu1">
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Another action</a></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Separated link</a></li>
                                    <li class="item-delete"><a href="#"><span class="ico ico-briefcase-o mr-1"></span>Item Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <u>If you want add arrow top or bottom for dropdown. Could you add mixins as below:</u> 
                            <br>
                            <br>
                            <b>.arr-dropdown(@size:8px, @color:#FFF, @position:top, @left:auto, @right:auto)</b>
                            <br>
                            <br>
                            <i>Example:</i>
                            <br>
                            <br>
                            <img src="images/arrdropdown.png" width="400px" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <!-- Alert -->
        <div class="container component-section">
            <h1 class="headline">
                Alert
                <br/>
            </h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="alert alert-success" role="alert">
                                <a href="#" class="alert-link">Well done! </a>
                                You successfully read this important alert message.
                            </div>
                        </div>
                         <div class="col-md-10">
                            <div class="alert alert-info" role="alert">
                            <a href="#" class="alert-link">Heads up! </a>
                            This alert needs your attention, but it's not super important.
                            </div>
                         </div>
                         <div class="col-md-10">
                            <div class="alert alert-warning" role="alert">
                            <a href="#" class="alert-link">Warning! </a>
                            Better check yourself, you're not looking too good.
                            </div>
                         </div>
                         <div class="col-md-10">
                            <div class="alert alert-danger" role="alert">
                            <a href="#" class="alert-link">Oh snap! </a>
                            Change a few things up and try submitting again.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('.form-control').focus( function() {
            var parent = $(this).parent('.input-group');
            if(parent){
                parent.addClass('focus');
            }
        });

        $('.form-control').blur( function() {
            $('.input-group').removeClass('focus');
        });
    </script>
</body>
</html>